<!--- Connect -->
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-12">
                <h2>Connect</h2>
            </div>
            <div class="col-12 social">
                <a href="https://www.facebook.com/micah.dittmar/"> <i class="fab fa-facebook"></i> </a>
                <a href="https://twitter.com/MicahDittmar"> <i class="fab fa-twitter"></i> </a>
                <a href="https://www.instagram.com/micah.ditto/?hl=en"> <i class="fab fa-instagram"></i> </a>
                <a href="https://www.linkedin.com/in/micahdittmar/"> <i class="fab fa-linkedin"></i> </a>
                <a href="https://vsco.co/micahthemoose/gallery"> <i class="fas fa-camera"></i></a>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-4">
                <hr class="light">
                <h5>Site Map</h5>
                <hr class="light">
                <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
                <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
                <a class="nav-link" routerLink="portfolio" routerLinkActive="active">Portfolio</a>
                <a class="nav-link" routerLink="development" routerLinkActive="active">Development</a>
                <a class="nav-link" routerLink="connect" routerLinkActive="active">Connect</a>

            </div>
            <div class="col-md-4">
                <p>(703) 915-3076</p>
                <p>micah.dittmar@gmail.com</p>
                <br>
                <hr class="light">
                <h5>Legal</h5>
                <hr class="light">
                <a href="https://icons8.com/icon/46943/web-design">Web Design icon by Icons8</a>
                <p>© 2023. All rights reserved.</p>
                <p>Version 2.0.9</p>

            </div>

            <div class="col-md-4">
                <hr class="light">
                <h5>Service Area</h5>
                <hr class="light">
                <p>Local: Kansas City </p>
                <p>Global: Remote</p>
                <hr class="light">
                <h5>My Hours</h5>
                <hr class="light">
                <p>Monday - Friday: 9am-5pm CST</p>
            </div>
            <div class="col-12">
                <hr class="light">
                <h5>&copy;Micah Dittmar - Dev and Designs</h5>
            </div>

        </div>
    </div>
</footer>