<!-- Title Section -->
<div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">Contact Me</h1>
            </div>
            <hr>
            <div class="col-12">
                <p class="lead">
                    Use the form below to connect with me. 
                </p>
            </div>
        </div>
    </div>

    <div class="padding">
        <div class="container">
            <form action="action_page.php">

                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                <!-- <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                </select> -->
                <label for="subject">Subject</label>
                <input type="text" id="subject" name="subject" placeholder="Your message subject..">

                <label for="message">Message</label>
                <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>

                <input type="submit" value="Submit">

            </form>
        </div>
    </div>
