<!--- About title -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">About</h1>
        </div>
        <hr>
    </div>
</div>
<!--- Fixed background -->
<figure>
    <div class="fixed-wrap">
        <div id="fixed">
        </div>
    </div>
</figure>

<!--- Click to see morr about me Section -->
<div class="text-center padding">
    <button class="fun btn btn-primary" data-toggle="collapse" data-target="#aboutBlurb">Click to see more About
        Me</button>
</div>
<div id="aboutBlurb" class="collapse">
    <div class="container-fluid padding">
        <div class="row">
            <div class="col-md-4">
                <h2 class="text-center">Basics</h2>
                <p class="text-indent">My name is <b>Micah Dittmar</b> , and I am from <i>Annapolis
                        Maryland</i> and living in Kansas City MO. I graduated from
                    Penn State
                    University Student with a B.S. in Information Science and Technology (Design and Development
                    option)
                    and a minor in Geography. </p>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Interests</h2>
                <p class="text-indent">I enjoy learning new frameworks for web development, but I'm more passionate about design work. 
                    But I also find time to dabble in geographic
                    information systems (GIS). I'm drawn to global missions and
                    humanitarian
                    relief and hope to spend some time working hands-on within these fields at some point, because I
                    enjoy helping others and hope to be a part of making the world a better place.</p>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Future</h2>
                <p class="text-indent">My future plans include growing into a senior software Designer / Developer
                    roles as I refine my craft. I hope also to continue to pursue my calling to humanitarian relief and missionary work in
                    under-developed countries and my community.</p>

            </div>

        </div>
    </div>
</div>

<!--- Make me -->
<div class="container-fluid padding">
    <div class="row title text-center">
        <div class="col-12">
            <h1 class="display-4"> Hi I'm Micah</h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead">
                Pieces that Make Me
            </p>
        </div>
    </div>
</div>

<!--- Cards -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/img/fam.PNG">
                <div class="card-body">
                    <h4>Family</h4>
                    <p class="card-text">That's right... There's 10 of us.
                        11 if you count Kip, our dog. I've learned just
                    </p>
                    <a href="#" class="btn btn-outline-secondary">See Profiles</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/img/dev.PNG">
                <div class="card-body">
                    <h4>Development</h4>
                    <p class="card-text">Over several years, I have used a variety of
                        different skills to design, plan, and create applications </p>
                    <a href="#" class="btn btn-outline-secondary">View Porfolio</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/img/yl.PNG">
                <div class="card-body">
                    <h4>Young Life</h4>
                    <p class="card-text">I have been a part of an org called younglife for the past 3 years,
                        voluntarily leading and mentoring high school teens.</p>
                    <a href="https://centrecounty.younglife.org/" class="btn btn-outline-secondary">See More about
                        Centre County Younglife</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/img/psu.PNG">
                <div class="card-body">
                    <h4>PSU Alum</h4>
                    <p class="card-text">I studied Information Science and Technology Design and Development at THE
                        Pennsylvania State University. WE ARE! I also completed a Geography Minor with an emphasis
                        on Geographic Information Systems. </p>
                    <a href="#" class="btn btn-outline-secondary">See </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/img/writing.jpg">
                <div class="card-body">
                    <h4>Technical Writing</h4>
                    <p class="card-text">My technical degree honed my abilities in documenting detailed processes,
                        such as software manuals or instructional materials. This has proven to be a valuable asset
                        to my
                        software developing skills. </p>
                    <a href="#" class="btn btn-outline-secondary">See Writng Samples</a>
                </div>
            </div>
        </div>
        <!-- Git merge testing TODO: remove -->
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/img/photography.PNG">
                <div class="card-body">
                    <h4>Photography</h4>
                    <p class="card-text">Taking pictures started as a little side hobby, now it has become an
                        essential
                        outlet for me to see and remember the world around me. I am interested in refining these
                        skills
                        and possibly starting up a little side gig. </p>
                    <a href="#" class="btn btn-outline-secondary">View photos on VSCO</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/img/videoProd.PNG">
                <div class="card-body">
                    <h4>Video Production</h4>
                    <p class="card-text">I create personal artistic videos to capture my life. I have refined these
                        ameteur skills by producing
                        videos for several professional organizations. </p>
                    <a href="#" class="btn btn-outline-secondary">View videos</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/img/rec.PNG">
                <div class="card-body">
                    <h4>Recreation</h4>
                    <p class="card-text">To stay in shape, I love to go biking and hiking. I also love to play
                        sports,
                        especially basketball.
                    </p>
                    <a href="#" class="btn btn-outline-secondary">See more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/img/job.PNG">
                <div class="card-body">
                    <h4>Job Hunting</h4>
                    <p class="card-text">Interested in my work? I am currently seeking a job in Software Development
                        and would love to
                        discuss my Qualifications for positions in your company.</p>
                    <a href="connect.html" class="btn btn-primary">Contact Me</a>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Interests Section  -->




<!-- Text Section -->
<div class="container-fluid padding aboutText">
    <h2>Development</h2>
    <p class="text-indent">
        In high school, I took an AP Computer Science course that sparked my interest in Java and other
        coding languages. Since then I have made giant strides in my skills as a developer. My early
        experience at Penn State buffeted my defensive programming skills by teaching me how to better
        test and debug software applications. I quickly learned how to use many other techniques and
        structures such as class hierarchy, Java interfaces, GUIs, collections, to take my Java to the
        next level. However, knowing that Java programming is brittle and has its weaknesses, I expanded
        my knowledge of other programming languages. I have really dug into JavaScript and HTML since
        then, but I also practice working with Python, PHP, and CSS. I have also trained my skills using
        SQL to manage databases. Working effectively both on my own and in groups, I am now capable of
        using Representational State Transfer or RESTful design pattern, Model-View-Controller (MVC)
        architectural for Java and web frameworks, databases, APIs, and client/server computing to
        create complex programs, applications, and websites. Some of the applications that display my
        ability in development are my Student Grade Predictor in Java, Flix2You database redesign using
        SQL and several other websites that can be viewed under the Development Examples page.
    </p>
    <a href="#" class="btn btn-primary">Learn More</a>
</div>

<div class="container-fluid padding aboutText">
    <h2>Writing</h2>
    <p class="text-indent">
        As a writer, I specialize in writing technical documents readily and efficiently. I pride my work on being
        easy to understand and concise. My work always considers the document purpose and audience throughout each
        stage of development to ensure readability. Throughout my collegiate experience, I have gained the skills
        required for writing many different styles of documents. The core skills I have acquired are cohesive
        design, active engagement, clarity, and revisionary proofreading. These skills have aided me in creating
        various technical documents such as my instruction set, technical definition, and proposal, all of which are
        included within the Writing Samples page of this E-portfolio.
    </p>
    <a href="#" class="btn btn-primary">See sample</a>
</div>

<div class="container-fluid padding aboutText">
    <h2>Extracurriculars</h2>
    <p class="text-indent">
        Outside of school, I enjoy playing sports and doing adventurous things outside. Biking is one of my favorite
        pastimes because it is the most affordable way to feel like I’m flying. I have great dreams to get a little
        further off the ground, and out of my comfort zone. Hiking is another pastime that I cannot get enough of,
        because I love being in nature experiencing the wonder of our complex and beautiful Earth. I love to compete
        in most sports, but basketball has always been my favorite despite undergoing regular injuries from physical
        play. I think of these as opportunities to be strong, persistent, and unshaken in the midst of battling pain
        or
        adversity have spilled over into my personal and professional life. My tenacity and ambition to overcome
        obstacles that come my way are two things I hope to continually develop throughout my life. Aside from
        athletics, I enjoy filmmaking, photography, and listening as well as making music. The majority of my family
        is very musically inclined. I play guitar, but I can hardly be called a musician.
    </p>
</div>

<div class="container-fluid padding aboutText">
    <h2>Family</h2>
</div>

<div class="text-center padding">
    <button class="fun btn btn-primary" data-toggle="collapse" data-target="#aboutFam">Click to see more</button>
</div>
<div id="aboutFam" class="collapse">
    <div class="container-fluid padding">
        <div class="row">
            <p class="text-indent">
                I am always excited to talk about my family because it usually prompts some great reactions. I
                have seven
                siblings, two brothers, and five sisters, so my family is best classified as a “Big” one. With
                ten people in
                the house, it’s always a party. I really enjoy being in a big family. It has taught me many
                wonderful
                principles that I feel other families might miss. I have learned to be very flexible and
                adaptive to
                situations as I often needed to prioritize family needs over my own wants. And as the second
                oldest
                responsibility and care for others is something I value. My dad has exceptionally modeled hard
                work, as it
                is no easy task having so many dependants. My father once told me “You are always leading
                people, but what
                are you leading them towards?” This I have resonated with for years as it taught me to recognize
                when to be
                a strong leader, and when to be a good follower. Overall, they are best described as a crazy
                blessing.
            </p>

        </div>
    </div>
</div>