

    <!-- Fiver Section -->

    <!-- Testamonials (Eventually) -->

    <!-- Development Skills Section -->

    <!-- Link to portfolio Section -->
    <div class="container-fluid padding">
            <div class="row welcome text-center">
                <div class="col-12">
                    <h1 class="display-4">My Passion:</h1>
                </div>
                <hr>
                <div class="col-12">
                    <p class="lead">
                        Crafting Powerful Digital Experiences
                        <button type="button" class="btn btn-primary btn-lg lowBtn" onclick="location.href='https://sway.office.com/s/8TM8uL7hIptse8Mk/embed'">
            View Project</button>
                    </p>
                </div>
            </div>
        </div>
    
        <div>
            <div>
    
            </div>
        </div>
        
        <iframe width="760px" height="500px" src="https://sway.office.com/s/8TM8uL7hIptse8Mk/embed" frameborder="0" marginheight="0" marginwidth="0" max-width="100%" sandbox="allow-forms allow-modals allow-orientation-lock allow-popups allow-same-origin allow-scripts" scrolling="no" style="border: none; max-width: 100%; max-height: 100vh" allowfullscreen mozallowfullscreen msallowfullscreen webkitallowfullscreen></iframe>
    
        <!-- Currently Learning Section  -->
    
    
    